Repository sterashima78/sterashima78.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

.lintstagedrc.yml:

'*.{js,ts,vue}': 'eslint'
'*.{css,sass,vue}': 'stylelint'

change node version
  .github/workflows/gh-page.yml
Due: none

update setting
  tailwind.config.js
Due: eslint

remove tailwind files
  src/assets/css/tailwind.css
Due: stylelint

revert amp
  package-lock.json
  package.json
Due: none

fix purgecss
  src/components/TTImeline/index.vue
  src/components/TTImeline/types.ts
  tailwind.config.js
Due: eslint, stylelint

add contents
  content/blog/2021/04/aws-developer-associate.md
Due: none

add contents
  content/about.yml
Due: none

update contents
  content/about.yml
  content/blog/2021/05/aws-developer-associate.md
  content/blog/2021/05/aws-sysops-administrator-associate.md
Due: none

add contents
  content/blog/2021/05/aws-sysops-administrator-associate.md
Due: none

fix zenn api
  src/pages/blog/index.vue
Due: eslint, stylelint
